<div class="card" style="width: 18rem;">
  <div class="card-body">
    <button type="button" (click)="onButtonSubmit()" class="btn btn-primary card-title">
      {{title}} <span class="badge badge-default">4</span>
    </button>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
  <!-- <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div> -->
</div>
