<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand">Fawarteerak</span>
        <form class="d-flex">
            <span class="nav-link" href="">Have an issue?</span>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="form box" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <h1>Login</h1>
                    <p class="text-muted"> Please enter your login and password!</p>
                    <input type="text" placeholder="Email" class="form-control" id="email" name="email" required formControlName="email">
                    <input type="text" class="form-control" placeholder="Password" class="form-control" id="password" name="password" required formControlName="password">
                    <a class="forgot text-muted" href="#">Forgot password?</a>
                    <input type="submit" name="" value="Login">
                    <p class="text-muted">
                        Don't have an account yet?
                        <a href="javascript:void(0)" (click)="open(content)"> Register here</a>.
                    </p>
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab
                    fa-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab
                    fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab
                    fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>

        <!-- Register form -->
        <ng-template #content let-modal>
            <app-registered-users [modalReference]="modalReference"></app-registered-users>
        </ng-template>
    </div>
</div>
