<div formArrayName="items" *ngIf="receiverType">
  <div
    *ngFor="let attribute of items().controls; let i = index"
    [formGroupName]="i"
  >
    <div class="row">
      <div class="col-lg-10 col-md-10 offset-lg-0 offset-md-3"></div>
      <div class="col-lg-1 col-md-1 offset-lg-0 offset-md-3">
        <button
          class="btn btn-link btn-fab btn-icon btn-round"
          (click)="addItem()"
        >
          <i class="fas fa-plus" style="color: black"></i>
        </button>
      </div>
      <div class="col-lg-1 col-md-1 offset-lg-0 offset-md-3">
        <button
          class="btn btn-link btn-fab btn-icon btn-round"
          (click)="deleteItem(i)"
        >
          <i class="far fa-trash-alt" style="color: crimson"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="far fa-gem"></i>
            </div>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Description"
            class="form-control"
            id="desc"
            name="desc"
            required
            formControlName="desc"
          />
        </div>
      </div>
      <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-barcode"></i>
            </div>
          </div>
          <!-- TODO: LIST OF CURRENCIES -->
          <input
            type="text"
            class="form-control"
            placeholder="Currency"
            class="form-control"
            id="currency"
            name="currency"
            required
            formControlName="currency"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-tachometer-alt"></i>
            </div>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Weight in
            gm"
            class="form-control"
            id="weight"
            name="weight"
            required
            formControlName="weight"
          />
        </div>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option>-- None --</mat-option>
          <mat-optgroup
            *ngFor="let category of categories"
            [label]="category.descriptionSecondaryLang"
          >
            <mat-option [value]="category.codeNameSecondaryLang">
              {{ category.codeNameSecondaryLang }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 offset-lg-0 offset-md-3">
        <label for="exampleFormControlSelect1">Quantity</label>
        <select
          class="form-control"
          formControlName="quantity"
          id="exampleFormControlSelect1"
        >
          <option style="color: black">1</option>
          <option style="color: black">2</option>
          <option style="color: black">3</option>
          <option style="color: black">4</option>
          <option style="color: black">5</option>
          <option style="color: black">6</option>
          <option style="color: black">7</option>
          <option style="color: black">8</option>
          <option style="color: black">9</option>
          <option style="color: black">10</option>
        </select>
      </div>

      <div
        class="col-lg-2 col-md-2 offset-lg-0 offset-md-3"
        style="padding-top: 20px"
      >
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i>%</i>
            </div>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Discount"
            class="form-control"
            id="discount"
            name="discount"
            required
            formControlName="discount"
          />
        </div>
      </div>
      <div
        class="col-lg-5 col-md-6 offset-lg-0 offset-md-3"
        style="padding-top: 20px"
      >
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <!-- TODO: DISPLAY SELECTED CURRENCY -->
              <i class="tim-icons">EGP</i>
            </div>
          </div>
          <input
            type="number"
            class="form-control"
            placeholder="Price"
            class="form-control"
            id="price"
            name="price"
            required
            formControlName="price"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-footer">
  <div class="row text-right">
    <!-- TODO:ADD CURRENCY -->
    <p>Net Total= {{ totalPrice | currency: "EGP" }}</p>
  </div>
  <button
    href="javascript:void(0)"
    [useExistingCss]="true"
    type="submit"
    printSectionId="myFormPrint"
    ngxPrint
    class="btn btn-primary btn-round btn-lg"
    printTitle=""
  >
    Submit
  </button>
</div>

<!-- User Column -->
<!-- <ng-container matColumnDef="userId">
              <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <mat-form-field floatLabel="never">
                  <mat-select
                    formControlName="userId"
                    (selectionChange)="onUserChange($event, element)"
                    required
                  >
                    <mat-option *ngFor="let user of users" [value]="user.id">
                      {{ user.username }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container> -->

<!-- Weight Column -->
<ng-container matColumnDef="weight">
  <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
  <mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
    <!-- <mat-form-field> -->
    <input
      type="text"
      placeholder="Ex: 2.08"
      required
      formControlName="weight"
      class="form-control"
      id="weight"
      name="weight"
    />
    <!-- </mat-form-field> -->
  </mat-cell>
</ng-container>

<!-- Quantity Column -->
<ng-container matColumnDef="quantity">
  <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
  <mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
    <!-- <mat-form-field floatLabel="never"> -->
    <select
      class="form-select"
      formControlName="quantity"
      id="exampleFormControlSelect1"
    >
      <option style="color: black">1</option>
      <option style="color: black">2</option>
      <option style="color: black">3</option>
      <option style="color: black">4</option>
      <option style="color: black">5</option>
      <option style="color: black">6</option>
      <option style="color: black">7</option>
      <option style="color: black">8</option>
      <option style="color: black">9</option>
      <option style="color: black">10</option>
    </select>
    <!-- </mat-form-field> -->
  </mat-cell>
</ng-container>

<!-- Unit Type Column -->
<ng-container matColumnDef="unitType">
  <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
  <mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
    <!-- <mat-form-field> -->
    <select class="form-select" formControlName="unitType">
      <option value="gm">gm</option>
    </select>
    <!-- </mat-form-field> -->
  </mat-cell>
</ng-container>

<!-- Price column -->
<ng-container matColumnDef="price">
  <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
  <mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
    <!-- <mat-form-field> -->
    <input
      class="form-control"
      currencyMask
      placeholder="0.00 EGP"
      required
      formControlName="price"
      value=""
      mvndrMatCurrencyFormat
      [allowNegative]="false"
      [currencyCode]="'EGP'"
    />
    <!-- </mat-form-field> -->
  </mat-cell>
</ng-container>

<!-- Discount Column -->
<ng-container matColumnDef="discount">
  <mat-header-cell *matHeaderCellDef> Discount </mat-header-cell>
  <mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
    <!-- <mat-form-field> -->
    <input
      class="form-control"
      placeholder="Discount"
      required
      formControlName="discount"
    />
    <!-- </mat-form-field> -->
  </mat-cell>
</ng-container>

<!-- Description Column -->
<ng-container matColumnDef="description">
  <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
  <mat-cell
    *matCellDef="let element; let i = index"
    [formGroupName]="i"
    [formGroup]="element"
  >
    <!-- <mat-form-field> -->
    <!-- <input
                    matInput
                    placeholder="Description"
                    required
                    formControlName="desc"
                  /> -->
    <!-- <div class="mb-3"> -->
    <textarea
      class="form-control"
      id="desc"
      rows="1"
      placeholder="Description"
      required
      formControlName="desc"
    ></textarea>
    <!-- </div> -->
    <!-- </mat-form-field> -->
  </mat-cell>
</ng-container>
<!-- </div> -->
