<div class="card card-register">
  <form class="form" [formGroup]="invoiceForm" (ngSubmit)="onInvoiceAdd()">
    <div class="card-body">
      <div formArrayName="fixed">
        <h3>Choose Receiver Type</h3>
        <div class="row">
          <mat-radio-group
            class="example-radio-group"
            formControlName="receiverType"
            [(ngModel)]="receiverType"
            aria-label="Select an option"
          >
            <mat-radio-button class="example-radio-button" value="person"
              >Person
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="business"
              >Business</mat-radio-button
            >
            <mat-radio-button class="example-radio-button" value="foreigner"
              >Foreigner</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <ng-container *ngIf="receiverType === 'person'">
          <h3>Person Contact Information</h3>
          <div class="row">
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-user"></i>
                  </div>
                </div>
                <input
                  type="text"
                  placeholder="Client Name"
                  class="form-control"
                  id="name"
                  name="name"
                  required
                  formControlName="client_name"
                />
              </div>
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-mobile-alt"></i>
                  </div>
                </div>
                <input
                  type="text"
                  placeholder="Client Phone Number"
                  class="form-control"
                  id="number"
                  name="number"
                  required
                  formControlName="client_phone"
                />
              </div>
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="far fa-envelope"></i>
                  </div>
                </div>
                <input
                  type="text"
                  placeholder="Client Email"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                  formControlName="client_email"
                />
              </div>
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="far fa-address-card"></i>
                  </div>
                </div>
                <input
                  type="text"
                  placeholder="Client ID"
                  class="form-control"
                  id="id"
                  name="id"
                  formControlName="client_id"
                  totalPrice
                  [class.invalid]="
                    (invoiceForm.get('fixed')?.get('client_id')?.touched ||
                      invoiceForm.get('fixed')?.get('client_id')?.dirty) &&
                    invoiceForm.get('fixed')?.get('client_id')?.invalid &&
                    isSubmitted
                  "
                />
                <span
                  class="invalid-feedback"
                  *ngIf="
                    (invoiceForm.get('fixed')?.get('client_id')?.touched ||
                      invoiceForm.get('fixed')?.get('client_id')?.dirty) &&
                    invoiceForm.get('fixed')?.get('client_id')?.invalid &&
                    isSubmitted
                  "
                >
                  <!-- *ngIf="(invoiceForm.get('fixed')?.get('client_id')?.touched ||
                      invoiceForm.get('fixed')?.get('client_id')?.dirty) &&
                      invoiceForm.get('fixed')?.get('client_id')?.invalid">  -->
                  Client ID must be filled
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <!-- <div class="input-group"> -->
              <label for="exampleFormControlSelect3">Payment Type</label>
              <select
                class="form-control"
                formControlName="payment_type"
                id="exampleFormControlSelect3"
              >
                <option style="color: black">Cash</option>
                <option style="color: black">Visa</option>
              </select>
              <!-- </div> -->
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <label for="branchDD">Branch</label>
              <select
                class="form-control"
                formControlName="branch"
                id="branchDD"
              >
                <option style="color: black">Korba</option>
                <option style="color: black">Tagamoaa</option>
              </select>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="receiverType === 'business'">
          <h3>Business Contact Information</h3>
          <div class="row">
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-user"></i>
                  </div>
                </div>
                <input
                  type="text"
                  placeholder="Client Name"
                  class="form-control"
                  id="name"
                  name="name"
                  required
                  formControlName="client_name"
                />
              </div>
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-mobile-alt"></i>
                  </div>
                </div>
                <input
                  type="text"
                  placeholder="Client Phone Number"
                  class="form-control"
                  id="number"
                  name="number"
                  required
                  formControlName="client_phone"
                />
              </div>
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="far fa-envelope"></i>
                  </div>
                </div>
                <input
                  type="text"
                  placeholder="Client Email"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                  formControlName="client_email"
                />
              </div>
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="far fa-address-card"></i>
                  </div>
                </div>
                <input
                  type="text"
                  placeholder="Client ID"
                  class="form-control"
                  id="id"
                  name="id"
                  formControlName="client_id"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <!-- <div class="input-group"> -->
              <label for="exampleFormControlSelect3">Payment Type</label>
              <select
                class="form-control"
                formControlName="payment_type"
                id="exampleFormControlSelect3"
              >
                <option style="color: black">Cash</option>
                <option style="color: black">Visa</option>
              </select>
              <!-- </div> -->
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <label for="branchDD">Branch</label>
              <select
                class="form-control"
                formControlName="branch"
                id="branchDD"
              >
                <option style="color: black">Korba</option>
                <option style="color: black">Tagamoaa</option>
              </select>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="receiverType === 'foreigner'">
          <h3>Foreigner Contact Information</h3>
          <div class="row">
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-user"></i>
                  </div>
                </div>
                <input
                  type="text"
                  placeholder="Client Name"
                  class="form-control"
                  id="name"
                  name="name"
                  required
                  formControlName="client_name"
                />
              </div>
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-mobile-alt"></i>
                  </div>
                </div>
                <input
                  type="text"
                  placeholder="Client Phone Number"
                  class="form-control"
                  id="number"
                  name="number"
                  required
                  formControlName="client_phone"
                />
              </div>
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="far fa-envelope"></i>
                  </div>
                </div>
                <input
                  type="text"
                  placeholder="Client Email"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                  formControlName="client_email"
                />
              </div>
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="far fa-address-card"></i>
                  </div>
                </div>
                <input
                  type="text"
                  placeholder="Client ID"
                  class="form-control"
                  id="id"
                  name="id"
                  formControlName="client_id"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <!-- <div class="input-group"> -->
              <label for="exampleFormControlSelect3">Payment Type</label>
              <select
                class="form-control"
                formControlName="payment_type"
                id="exampleFormControlSelect3"
              >
                <option style="color: black">Cash</option>
                <option style="color: black">Visa</option>
              </select>
              <!-- </div> -->
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <label for="branchDD">Branch</label>
              <select
                class="form-control"
                formControlName="branch"
                id="branchDD"
              >
                <option style="color: black">Korba</option>
                <option style="color: black">Tagamoaa</option>
              </select>
            </div>
          </div>
        </ng-container>
      </div>
      <br />
      <div>
        <!-- <app-item-invoice
          [items]="items"
          [receiverType]="receiverType"
        ></app-item-invoice> -->

        <div *ngIf="receiverType">
          <h3>Invoice items</h3>
          <mat-table [dataSource]="dataSource">
            <!-- DeleteRow Column -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Delete Row </mat-header-cell>
              <mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <button
                  class="btn btn-link btn-fab btn-icon btn-round"
                  (click)="deleteItem(i)"
                >
                  <i class="far fa-trash-alt" style="color: crimson"></i>
                </button>
              </mat-cell>
            </ng-container>

            <!-- Category Column -->
            <ng-container matColumnDef="category">
              <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <input
                  formControlName="category"
                  class="form-control"
                  list="datalistOptions"
                  id="exampleDataList"
                  placeholder="Type..."
                />
                <datalist id="datalistOptions">
                  <option
                    *ngFor="let category of categories"
                    [value]="category.codeNameSecondaryLang"
                  >
                    {{ category.codeNameSecondaryLang }}
                  </option>
                </datalist>
              </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <input
                  type="text"
                  placeholder="Ex: 2.08"
                  required
                  formControlName="weight"
                  class="form-control"
                  id="weight"
                  name="weight"
                />
              </mat-cell>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <select
                  class="form-select"
                  formControlName="quantity"
                  id="exampleFormControlSelect1"
                >
                  <option style="color: black">1</option>
                  <option style="color: black">2</option>
                  <option style="color: black">3</option>
                  <option style="color: black">4</option>
                  <option style="color: black">5</option>
                  <option style="color: black">6</option>
                  <option style="color: black">7</option>
                  <option style="color: black">8</option>
                  <option style="color: black">9</option>
                  <option style="color: black">10</option>
                </select>
              </mat-cell>
            </ng-container>

            <!-- Unit Type Column -->
            <ng-container matColumnDef="unitType">
              <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <select class="form-select" formControlName="unitType">
                  <option value="gm">gm</option>
                </select>
              </mat-cell>
            </ng-container>

            <!-- Price column -->
            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <input
                  class="form-control"
                  currencyMask
                  placeholder="0.00 EGP"
                  required
                  formControlName="price"
                  value=""
                  mvndrMatCurrencyFormat
                  [allowNegative]="false"
                  [currencyCode]="'EGP'"
                />
              </mat-cell>
            </ng-container>

            <!-- Discount Column -->
            <ng-container matColumnDef="discount">
              <mat-header-cell *matHeaderCellDef> Discount </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <input
                  class="form-control"
                  placeholder="Discount"
                  required
                  formControlName="discount"
                />
              </mat-cell>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <textarea
                  class="form-control"
                  id="desc"
                  rows="1"
                  placeholder="Description"
                  required
                  formControlName="desc"
                ></textarea>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <br />
          <div class="card-footer">
            <div class="row text-right">
              <!-- TODO:ADD CURRENCY -->
              <h3>Net Total= {{ totalPrice | currency: "EGP" }}</h3>
            </div>
            <br />
            <button
              type="button"
              class="btn btn-primary btn-round btn-lg"
              (click)="addItem()"
            >
              Add Row
            </button>
            <button
              href="javascript:void(0)"
              [useExistingCss]="true"
              type="submit"
              printSectionId="myFormPrint"
              ngxPrint
              class="btn btn-primary btn-round btn-lg"
              printTitle=""
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="myFormPrint" style="display: none">
      <app-print-invoice [inputForm]="invoiceForm.value"></app-print-invoice>
    </div>
  </form>
</div>
